---
import "../styles/global.css";
import demoVideo from "@/assets/demo.mp4";
import ogpImage from "@/assets/ogp.png";
import demoPoster from "@/assets/poster.jpg";
import { useTranslations } from "@/i18n/utils";
import GoogleAnalytics from "@/lib/GoogleAnalytics.astro";
import { SEO } from "astro-seo";

const isProd = import.meta.env.PROD;
const baseUrl = import.meta.env.BASE_URL || "/";
const lang = Astro.currentLocale || "en";
const t = useTranslations(lang as "en" | "ja");
const ogImageUrl = new URL(ogpImage.src, Astro.site).toString();
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href={`${baseUrl}/favicon.ico`} />
		<link rel="preload" as="video" href={demoVideo} type="video/mp4">
		<link rel="preload" as="image" href={demoPoster.src} fetchpriority="high">
		<link rel="sitemap" href={`${baseUrl}/sitemap-index.xml`} />
		<meta name="generator" content={Astro.generator} />
		<title>{t('site.title')}</title>
		<SEO
		  title="ub-MOJI | AI Vision Lab"
		  description={t('site.description')}
		  openGraph={{
			basic: {
			title: "ub-MOJI",
			type: "website",
			image: ogImageUrl,
		  }
      }}
		/>
		{isProd && <GoogleAnalytics />}
	</head>
	<body>
		<slot />
	</body>
</html>
